@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertion Besoin d'Achat</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            width: 400px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2, h3 {
            color: #333;
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input[type="date"],
        select,
        input[type="text"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <form action="Home/insertionDemande" method="post">
        <h2>Insertion Besoin d'Achat</h2>
        <label for="Magasin">Produits</label>
        <select name="produit" id="Magasin" required>
            <option value="magasin1">Choisir Produits</option>
            @for(int i =0; i<ViewBag.produits.Length; i++){
                <option value="@ViewBag.produits[i].IdProduit">@ViewBag.produits[i].NomProduit</option>
            }
        </select>
        <label for="reference">Quantite</label>
        <input type="text" name="quantite" id="reference" placeholder="Quantite" required>
        
        <label for="Magasin">Departement</label>
        <select name="departement" id="Magasin" required>
            <option value="magasin1">Choisir Departement</option>
            @for(int i =0; i<ViewBag.departements.Length; i++){
                <option value="@ViewBag.departements[i].IdDepartement">@ViewBag.departements[i].NomDepartement</option>
            }
        </select>
        
        <label for="Magasin">Unite</label>
        <select name="unite" id="Magasin" required>
            <option value="magasin1">Choisir Unite</option>
            @for(int i =0; i<ViewBag.unites.Length; i++){
                <option value="@ViewBag.unites[i].IdUnite">@ViewBag.unites[i].NomUnite</option>
            }
        </select>

        <input type="submit" value="Inserer">
    </form>
</body>
</html>

